 .red { color: red;}
        .black { color: black}
        .blue { color: blue}
        
        body {
            
            font-family: Georgia, serif;
            font-size: small;
            line-height: 1.75em;
            background-image:url(background.jpg)
         
        }
        
        h1{
            font: bold 1.5em "marko one", Georgia, serif; 
            color: purple;
        }
        
        #info p{
            font-style: italic;
            color: gainsboro;
        }
        
        h1,h2 #info {
            text-align: center;
        }
        
        h2{
            
            font font-size: 1em;
            text-transform:uppercase;
            letter-spacing: 4px;
            color: purple;
        }
        
        h2 + p{
            
            text-align: center;
            font-style: italic;
        }
        dt{
            font-weight: bold;
            color:sienna;
        }
        h1{
            font: bold 1.5em "marko One", Georgia, serif;
            color:purple;
            text-shadow: .1em .1em .2em lightslategray;
            
        }
          
    h1{
        color: purple;
        font-family:monospace;
        text-align: center;
        font-size: 3.0em;
    }
    
    h2{
        
        color: purple;
        text-align: center;
        
    }
    
    p{
        
        color: darkgray;
        text-align: center;
        font-family: serif;
        
    }
    
    dt{
        
        color: orange;
        text-align: left;
        
    }
    
    span {
        
        color: darkgray;
    }
    
